.home__main {
  height: calc(100vh - 50px - 2.5vw);
  width: 100%;
  display: flex;
  padding: 10vh 5vw 10vh 6vh;
  column-gap: 2vw;
  justify-content: center;
  overflow: hidden;
  color: var(--text);
}
.home__main section {
  width: 100%;
  height: 100%;
}

.home__left {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home__left h1 {
  font-size: 3rem;
  color: var(--highlight);
  padding: 2.5vh 0px;
}
.home__left h4 {
  color: var(--primary);
}

.home__right {
  position: relative;
  overflow: hidden;
  transition: 0.3s;
}
.home__right::before, .home__right::after {
  opacity: 0;
  content: "";
  height: 100px;
  position: absolute;
  height: 30px;
  width: 100%;
  z-index: 2;
  background: linear-gradient(to top, var(--background) 0%, rgba(255, 255, 255, 0) 100%);
}
.home__right::after {
  top: 0;
  left: 0;
  transform: rotateZ(180deg);
}
.home__right::before {
  bottom: 0;
  left: 0;
  pointer-events: auto;
}

.home__right--active::before, .home__right--active::after {
  opacity: 1;
}

.home__right__scrollable {
  padding-top: 5vh;
  overflow-y: auto;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 10vh;
}
.home__right__scrollable::-webkit-scrollbar {
  display: none;
}

.about__text {
  padding: 0px 30px;
}

.resume__dl__btn {
  text-align: center;
  border: 1px solid var(--primary);
  padding: 15px 30px;
  margin: 0px 10vw 5vh 10vw;
  border-radius: 10px;
  font-size: 1.2rem;
  font-weight: 900;
  color: var(--text);
  transition: 0.3s;
  background-color: var(--background);
  box-shadow: 0px 0px 20px 10px var(--background-highlight);
}
.resume__dl__btn span {
  font-size: 0.8rem;
}
.resume__dl__btn:hover {
  background-color: var(--background-highlight);
  box-shadow: 0px 0px 20px 16px var(--background-highlight);
  cursor: pointer;
  color: var(--highlight);
  transform: scale(1.004);
  color: var(--highlight);
}

[data-theme=dark] {
  --highlight: rgb(209, 241, 252);
  --primary: rgb(151, 119, 37);
  --secondary: rgb(180, 225, 223);
  --background: rgb(58, 88, 99);
  --background-highlight: rgb(65, 99, 112);
  --text: rgb(150, 187, 200);
  --menu-btn-bg-hl: rgb(79, 111, 123);
  --menu-btn-tx-hl: rgb(209, 241, 252);
  --highlight-fx: rgb(158, 226, 168);
}

[data-theme=light] {
  --secondary: rgb(0, 0, 0);
  --highlight: rgb(45, 158, 145);
  --primary: rgb(208, 159, 74);
  --background: rgb(243, 244, 240);
  --background-highlight: rgb(225, 228, 215);
  --text: rgb(123, 124, 98);
  --menu-btn-bg-hl: rgb(225, 228, 215);
  --menu-btn-tx-hl: rgb(208, 159, 74);
  --highlight-fx: rgb(200, 94, 80);
}

.single__project__main__top {
  width: 100%;
  height: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: end;
  align-items: end;
}
.single__project__main__top span {
  width: 100%;
  display: flex;
  justify-content: end;
  padding-right: 40px;
  padding-bottom: 3.1vh;
  font-family: "Special Elite";
  font-size: 1.1rem;
}

.single__project__title__div {
  width: 49vw;
  height: 100%;
  color: var(--highlight);
}

.typewriter {
  font-family: "VT323";
  font-size: 4rem;
  font-weight: 500;
}

.single__project__main__bottom {
  height: calc(100vh - 150px - 2.5vw);
  width: 100%;
  display: flex;
  column-gap: 2vw;
  justify-content: center;
  overflow: hidden;
  color: var(--text);
}

.single__product__left {
  width: 50%;
  height: 40vh;
  margin-top: 3vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.laptop__top {
  width: 470px;
  position: relative;
}

.laptop__scr {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 30;
}

.laptop__bottom {
  width: 610px;
  height: 10px;
  position: relative;
}

.laptop__img3 {
  width: 100%;
  height: 100%;
}

.laptop__shadow {
  margin-top: 10vh;
  width: 95%;
  height: 10px;
  border-radius: 0% 0% 100% 100%;
  box-shadow: 0px -40px 24px 1px black;
  background-color: none;
}

.lefthand__links__div {
  display: flex;
  flex-direction: column;
}
.lefthand__links__div button {
  display: flex;
  justify-content: space-between;
  width: 400px;
  height: 50px;
  padding: 0px 30px;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 10px;
  margin-bottom: 3vh;
  background-color: var(--background);
  font-size: 1.1rem;
  font-weight: 600;
  z-index: 20;
  color: var(--secondary);
}
.lefthand__links__div button:hover {
  cursor: pointer;
}
.lefthand__links__div button img {
  margin-left: 30px;
}
.lefthand__links__div button span {
  color: var(--primary);
  font-weight: 600;
}

.button__wrapper {
  border: none;
  border-radius: 10px;
  width: 400px;
  height: 52px;
  padding: 1px;
  background-color: var(--primary);
  display: flex;
  justify-content: center;
  margin: 10px 0px 20px;
  position: relative;
  transition: 0.3s;
  overflow: hidden;
}
.button__wrapper:hover {
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.107);
}
.button__wrapper::after {
  transition: 0.25s ease-in-out;
  content: "";
  position: absolute;
  bottom: -70px;
  left: -320px;
  background: linear-gradient(to right, var(--highlight) 60%, var(--highlight-fx));
  width: 300px;
  height: 400px;
  transform: rotate(60deg);
}
.button__wrapper::before {
  transition: 0.25s ease-in-out;
  content: "";
  position: absolute;
  top: -20px;
  right: -320px;
  background: linear-gradient(to left, var(--highlight) 60%, var(--highlight-fx));
  width: 300px;
  height: 300px;
  transform: rotate(60deg);
}

.button__wrapper--active::after {
  left: -88px;
}
.button__wrapper--active::before {
  right: -50px;
}

.single__product__right {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding-right: 4vw;
  padding-top: 2vh;
}

.used__tech__div {
  display: flex;
  justify-content: end;
  column-gap: 10px;
  margin: 4vh 0px 4vh;
}

.tech__icon__img {
  margin-left: 20px;
}

.product__description {
  padding: 2.5vh 0px 7vh;
  border-top: 1px solid var(--primary);
  height: 45vh;
  overflow-y: scroll;
}
.product__description--accent--pr {
  color: var(--secondary);
  font-weight: 800;
}
.product__description--accent {
  color: var(--secondary);
  font-weight: 600;
}
.product__description--underline {
  text-decoration: underline;
}
.product__description a {
  color: var(--primary);
  text-decoration: underline;
}
.product__description ul {
  padding-top: 1vh;
  padding-left: 15px;
}
.product__description li {
  list-style: square;
}

.view__product__btn__div {
  width: 100%;
  display: flex;
  justify-content: center;
}
.view__product__btn__div button {
  width: 320px;
  padding: 15px 0px;
  background-color: var(--highlight);
  border-radius: 12px;
  border: none;
  font-size: 1.4rem;
  font-weight: 600;
  transition: 0.3s;
  box-shadow: inset 0px 0px 12px 2px rgba(0, 0, 0, 0.379);
  border: 2px solid transparent;
  color: var(--background);
}
.view__product__btn__div button:hover {
  cursor: pointer;
  border: 2px solid var(--primary);
  transform: scale(1.02);
}
.view__product__btn__div button:active {
  background-color: var(--primary);
}

.single__product__footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 35px;
  background-color: black;
  color: var(--primary);
  text-align: end;
  padding: 5px 6.5vw;
  box-shadow: 0px -1px 8px rgba(0, 0, 0, 0.431);
  font-weight: 600;
}
.single__product__footer span {
  font-size: 0.8rem;
  padding: 0px 50px 0px 10px;
}
.single__product__footer span span {
  padding-left: 15px;
}

.menu__nav__div {
  display: flex;
  justify-content: end;
  column-gap: 2vw;
  position: relative;
  margin-bottom: 10px;
  height: 40px;
  align-items: center;
}

.logo_img {
  position: absolute;
  left: 0;
  top: 0;
}

.menu__home__btn {
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0);
  padding: 8px 16px;
  transition: 0.2s;
  color: var(--text);
  cursor: pointer;
}
.menu__home__btn:hover {
  border-color: var(--text);
  color: var(--menu-btn-tx-hl);
}

.menu__contact__btn {
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0);
  padding: 8px 16px;
  transition: 0.2s;
  color: var(--text);
  cursor: pointer;
}
.menu__contact__btn:hover {
  border-color: var(--text);
  color: var(--menu-btn-tx-hl);
}

.lg_select {
  background-color: inherit;
  border: none;
  color: var(--text);
  height: 40px;
  border-radius: 10px;
  padding: 0px 16px;
  cursor: pointer;
}

.cv__div {
  padding: 0px 30px;
  width: 100%;
}
.cv__div section {
  border: none;
}
.cv__div h1 {
  color: var(--highlight);
  margin-bottom: 10px;
  border-bottom: 1px solid var(--primary);
}

.cv__chapter__div {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.cv__sub__top {
  margin: 6vh 0px 4vh 0px;
  color: var(--text);
}

.cv__sub__bottom {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  column-gap: 20px;
}
.cv__sub__bottom__right {
  font-size: 0.9rem;
  color: var(--highlight);
}
.cv__sub__bottom__left {
  text-align: end;
  font-size: 0.7rem;
  color: var(--text);
}

.projects__main__div {
  position: relative;
  width: 100%;
}
.projects__main__div h1 {
  margin-bottom: 2vh;
  color: var(--highlight);
  border-bottom: 1px solid var(--primary);
  margin: 0px 30px;
}

.project__div {
  padding: 15px 20px 15px 20px;
  width: calc(100% - 30px);
  height: 250px;
  transition: 0.3s;
  border-radius: 7px;
  margin: 6vh 15px 6vh 15px;
  display: grid;
  grid-template-columns: 1fr 2.5fr;
  column-gap: 10px;
}
.project__div h4 {
  transition: 0.3s;
  margin-bottom: 1vh;
}
.project__div p {
  margin-bottom: 3vh;
}
.project__div:hover {
  cursor: pointer;
  background-color: var(--background-highlight);
  box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.246);
}

.project__left {
  margin-top: 5px;
}
.project__left img {
  border: 1px solid var(--secondary);
}

.project__right {
  position: relative;
}

.used__technologies {
  display: flex;
  column-gap: 20px;
}

.project__link__button {
  position: absolute;
  top: 0px;
  right: 10px;
  width: 19px;
  height: 25px;
  border: 1px solid black;
  border-radius: 2px;
  transition: 0.3s;
}
.project__link__button::after {
  content: "";
  position: absolute;
  transition: 0.3s;
  top: -1px;
  right: -1px;
  width: 0;
  height: 0;
  border-left: 10px solid black;
  border-top: 12px solid var(--spanAfterBg, var(--background));
}

.project__link__arrow {
  opacity: 0;
  position: absolute;
  top: -6px;
  right: 3px;
  color: var(--text);
  border-radius: 1px;
  transition: 0.3s;
  transform: rotate(-45deg);
}

.menu__switch__div {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 100%;
  display: flex;
  justify-content: center;
}

.menu__switch__btn {
  padding: 8px;
  transition: 0.4s;
  border-radius: 50%;
  z-index: 50;
  opacity: 1;
  cursor: pointer;
}
.menu__switch__btn--closing > :first-child {
  opacity: 0;
}
.menu__switch__btn > :first-child {
  color: var(--text);
}

.switch__options {
  z-index: 20;
  position: absolute;
  display: flex;
  justify-content: center;
  top: 20px;
  left: 0px;
  width: 40px;
  height: 0px;
  border-radius: 0% 0% 48% 48%;
  pointer-events: none;
}
.switch__options > :first-child {
  color: var(--text);
  margin-top: 20px;
  opacity: 0;
  transform: translateY(-20px);
}
.switch__options--open {
  pointer-events: auto;
  height: 52px;
  z-index: 0;
}
.switch__options--open > :first-child {
  opacity: 1;
  transform: translateY(0px);
}
.switch__options--open > :first-child:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.switch__options--closing {
  z-index: 280;
  border-radius: 50% 50% 48% 48%;
  transform: translateY(-15px);
  height: 24px;
}
.switch__options--closing > :first-child {
  opacity: 1;
  transform: translateY(-16px);
}
.switch__options--transition {
  transition: 0.3s;
}
.switch__options--transition > :first-child {
  transition: 0.3s;
}

.language__icon__svg {
  position: absolute;
  top: 7px;
  left: -20px;
  width: 20px;
}

.chapterNavDiv {
  margin-top: 5vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 1vh;
  align-items: end;
}

.chapterDiv {
  display: flex;
  align-items: center;
  font-size: 1.1rem;
}
.chapterDiv:hover {
  cursor: pointer;
}

.textSpan {
  color: var(--text);
  transition: 0.3s;
}

.barDiv {
  transition: 0.3s;
  display: inline-block;
  width: 50px;
  height: 1px;
  background-color: var(--text);
  margin-left: 15px;
}

.textSpan--active {
  font-weight: 700;
  color: var(--highlight);
}

.barDiv--active {
  width: 100px;
  background-color: var(--highlight);
}

.carousel__wrapper {
  padding-top: 5px;
  padding-left: 3px;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
}

.carousel__div {
  width: 100%;
  height: 250px;
  display: flex;
  transition: transform 1s ease-out;
}

.carousel_img {
  padding-top: 5px;
  padding-left: 4px;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

* {
  margin: 0;
}

:root {
  background-color: var(--background);
  width: 100%;
  height: 100vh;
  padding: 2.5vw;
  color: var(--text-color);
  border: none;
  border-color: var(--primary);
  transition: background-color 0.4s;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

li {
  text-decoration: none;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  padding: 0;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.2rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.8rem;
}