@import "variables";

.exhibition-main-div {
  margin-top: 10vh;
  width: 100%;
}

.exhibition-initial-buttons {
  width: 100%;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 4vw;
  & img {
    width: 80%;
  }
  @include MOBILE {
    flex-direction: column;
    height: auto;
    row-gap: 5vh;
    padding: 5vh 0px;
    align-items: center;
  }
}

.exhibition-init-btn {
  width: 35vw;
  height: 35vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 2rem;
  font-family: "BBH Bartle", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--text);
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, transform 0.2s;
  // &:hover {
  //   background-color: var(--text);
  //   color: var(--background);
  //   transform: scale(1.05);
  // }
  @include MOBILE {
    // width: 40vw;
    // height: 40vw;
    font-size: 1.2rem;
  }
}

.go-to-music-btn--light {
}

.go-to-music-btn--dark {
}

.go-to-paintings-btn--light {
}

.go-to-paintings-btn--dark {
}
