@import "variables";

.chapterNavDiv {
  // border: 1px solid black;
  margin-top: 2vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 1vh;
  align-items: end;
  @include MOBILE {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 50px;
    height: 10vh;
    position: sticky;
    top: 0;
    z-index: 100;
    transition: 0.4s;
    background-color: var(--background);
  }
}

.chapterDiv {
  display: flex;
  align-items: center;
  font-size: 1.1rem;
  &:hover {
    cursor: pointer;
  }
}
.textSpan {
  color: var(--text);
  transition: 0.3s;
}
.barDiv {
  transition: 0.3s;
  display: inline-block;
  width: 50px;
  height: 1px;
  background-color: var(--text);
  margin-left: 15px;
  @include MOBILE {
    display: none;
  }
}

.textSpan--active {
  font-weight: 700;
  color: var(--highlight);
}
.barDiv--active {
  width: 100px;
  background-color: var(--highlight);
}
