@import "variables";

.home__main {
  //menu bar: 40px, margin: 10px, root padding: 2.5vw
  height: calc(100vh - 50px - 2.5vw);
  width: 100%;
  display: flex;
  padding: 0px 0px 0vh 3vw;
  column-gap: 4vw;
  justify-content: center;
  overflow: hidden;
  color: var(--text);
  //starting animation:
  opacity: 0;
  transition: 1s;
  @include MOBILE {
    flex-direction: column;
    height: 100%;
    overflow: visible;
    padding: 10vh 0px;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
  }
  & section {
    width: 100%;
    height: 100%;
  }
}

.home__img_div {
  width: 420px;
  height: 420px;
}

.profil__img {
  opacity: 0;
  width: 400px;
  height: 420px;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  border: 25px solid white;
  @include adjustImage-small {
    width: 250px;
    height: 250px;
    margin-bottom: 5vh;
  }
  overflow: hidden;
  border-radius: 50%;
  // box-shadow: 0px 0px 20px 10px var(--background-highlight);
}

.profil__img--active {
  animation: profilImgOpacityTransition 0.5s ease-in-out forwards;
}

@keyframes profilImgOpacityTransition {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.home__left {
  max-width: 500px;
  & h1 {
    font-size: 3rem;
    color: var(--highlight);
    padding: 2.5vh 0px 0px;
    @include adjustImage-small {
      font-size: 2.5rem;
      text-align: center;
    }
  }
  & h4 {
    color: var(--primary);
    @include adjustImage-small {
      font-size: 1.2rem;
      text-align: center;
    }
  }
  display: flex;
  flex-direction: column;
  @include MOBILE {
    flex-direction: column;
    height: 100%;
    overflow: visible;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
  }
}

.ext__links__div {
  display: flex;
  width: 100%;
  margin-top: 1.5vh;
  column-gap: 25px;
  & img {
    cursor: pointer;
    transition: 0.2s;
    &:hover {
      transform: scale(1.1);
    }
  }
  @include MOBILE {
    margin-top: 2vh;
    justify-content: center;
  }
}

.home__right {
  padding-top: 5vh;
  position: relative;
  overflow: hidden;
  @include MOBILE {
    overflow: visible;
  }
  transition: 0.3s;
  &::before,
  &::after {
    //find a solution for this effect
    opacity: 0;
    // transition: 0.3s;
    content: "";
    height: 100px;
    position: absolute;
    height: 30px;
    width: 95%;
    z-index: 2;
    background: linear-gradient(
      to top,
      var(--background) 0%,
      rgba(255, 255, 255, 0) 100%
    );
  }
  // &::after {
  //   top: 0;
  //   left: 0;
  //   transform: rotateZ(180deg);
  // }
  &::before {
    bottom: 0;
    left: 0;
    pointer-events: auto;
  }
}

.home__right--active {
  &::before,
  &::after {
    opacity: 1;
  }
}

.home__right__scrollable {
  padding-top: 5vh;
  &::-webkit-scrollbar {
    background-color: var(--background);
    width: 10px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: var(--background-highlight);
    border-radius: 10px;
    &:hover {
      background-color: var(--text);
    }
  }
  @include MOBILE {
    &::-webkit-scrollbar {
      display: none;
    }
  }
  overflow-y: auto;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 10vh;
}

.about__text {
  padding: 0px 30px;
}

.resume__dl__btn {
  text-align: center;
  border: 1px solid var(--primary);
  padding: 15px 30px;
  margin: 0px 10vw 5vh 10vw;
  border-radius: 10px;
  font-size: 1.2rem;
  font-weight: 900;
  color: var(--text);
  transition: 0.3s;
  background-color: var(--background);
  box-shadow: 0px 0px 20px 10px var(--background-highlight);
  & span {
    font-size: 0.8rem;
  }
  &:hover {
    background-color: var(--background-highlight);
    box-shadow: 0px 0px 20px 16px var(--background-highlight);
    cursor: pointer;
    color: var(--highlight);
    transform: scale(1.004);
    color: var(--highlight);
  }
}

.homepage-right-shape {
  position: fixed;
  bottom: -230px;
  right: -180px;
  width: 500px;
  height: 500px;
  border-radius: 50%;
}
