@import "variables";

.menu__nav__div {
  display: flex;
  justify-content: end;
  column-gap: 1vw;
  position: relative;
  margin-bottom: 10px;
  height: 40px;
  align-items: center;
  z-index: 500;
  @include MOBILE {
    transition: transform 0.4s ease-in-out;

    display: flex;
    flex-direction: column;
    justify-content: start;
    background-color: var(--background);
    height: 100vh;
    width: 100%;
    position: absolute;
    transform: translateX(100vw);
    padding-top: 80px;
    text-align: center;
    top: 0;
    left: 0;
  }
}

.logo_img {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  transform: translateX(-10px) translateY(-20px);
  @include MOBILE {
    top: 25px;
    left: 10px;
  }
}

.menu-button {
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0);
  padding: 8px;
  transition: 0.2s ease-out;
  color: var(--text);
  transform: translateY(-100px);
  cursor: pointer;
  &:hover {
    border-color: var(--text);
    color: var(--menu-btn-tx-hl);
  }
  @include MOBILE {
    font-size: 2rem;
  }
}

.lg_select {
  background-color: inherit;
  border: none;
  color: var(--text);
  height: 40px;
  border-radius: 10px;
  padding: 0px 16px;
  cursor: pointer;
}

.menubar-burger-button {
  display: none;
  position: fixed;
  top: 15px;
  right: 15px;
  z-index: 1000;
  border: none;
  background: none;
  transition: 0.3s;
  & img {
    width: 40px;
    height: 40px;
  }
  &:hover {
    cursor: pointer;
    background-color: var(--background-highlight);
  }
  @include MOBILE {
    display: block;
  }
}

.menu-button-contact {
  margin-right: 20px;
  @include MOBILE {
    margin-right: 0px;
  }
}
