// @use "variables" as *;

.menu__nav__div {
  display: flex;
  justify-content: end;
  column-gap: 1vw;
  position: relative;
  margin-bottom: 10px;
  height: 40px;
  align-items: center;
}

.logo_img {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  transform: translateX(-10px) translateY(-20px);
}

.menu-button {
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0);
  padding: 8px;
  transition: 0.2s ease-out;
  color: var(--text);
  transform: translateY(-100px);
  cursor: pointer;
  &:hover {
    border-color: var(--text);
    color: var(--menu-btn-tx-hl);
  }
}

.lg_select {
  background-color: inherit;
  border: none;
  color: var(--text);
  height: 40px;
  border-radius: 10px;
  padding: 0px 16px;
  cursor: pointer;
}
