@use "variables" as *;

.gif-card {
  display: flex;
  flex-direction: column;
  background: #fff;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  padding: 5px;
}

.gif-card:hover {
  box-shadow: 0 0px 16px 2px var(--primary);
}

.gif-card__media {
  background: #f2f2f2;
  overflow: hidden;
}

.gif-card__media img {
  width: 100%;
  height: 100%;

  // object-fit: cover;
  display: block;
}

.gif-card__content {
  padding: 12px 14px;
}

.gif-card__title {
  font-size: 0.95rem;
  margin: 0 0 4px;
}

.gif-card__description {
  font-size: 0.85rem;
  color: #555;
  margin: 0;
}

.ui-catalog-main {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding-top: 20vh;
}

.ui-catalog-card-1 {
  width: 23vw;
  height: 10vw;
}
.ui-catalog-card-2 {
  width: 45vw;
  height: 37vw;
}
.ui-catalog-card-3 {
  width: 65vw;
  height: 6vw;
}
.ui-catalog-card-4 {
  width: 23vw;
  height: 37vw;
}
.ui-catalog-card-5 {
  width: 30vw;
  height: 23vw;
}
.ui-catalog-card-6 {
  width: 30vw;
  height: 12vw;
}
.ui-catalog-card-7 {
  width: 60vw;
  height: 44vw;
}
.ui-catalog-card-8 {
  width: 30vw;
  height: 32vw;
}
.ui-catalog-card-9 {
  width: 40vw;
  height: 8vw;
}
.ui-catalog-card-10 {
  width: 40vw;
  height: 30vw;
}
.ui-catalog-card-11 {
  width: 80vw;
  height: 40vw;
}
.ui-catalog-card-12 {
  width: 40vw;
  height: 30vw;
}
.ui-catalog-card-13 {
  width: 40vw;
  height: 30vw;
}
.ui-catalog-card-14 {
  width: 40vw;
  height: 8vw;
}
.ui-catalog-card-15 {
  width: 50vw;
  height: 25vw;
}
