$color-schemes: (
  dark: (
    highlight: rgb(209, 241, 252),
    primary: rgb(151, 119, 37),
    secondary: rgb(180, 225, 223),
    background: rgb(58, 88, 99),
    background-grad2: rgb(49, 70, 77),
    background-highlight: rgb(65, 99, 112),
    text: rgb(150, 187, 200),
    // #96BBC8
    menu-btn-bg-hl: rgb(79, 111, 123),
    menu-btn-tx-hl: rgb(209, 241, 252),
    highlight-fx: rgb(158, 226, 168),
  ),
  light: (
    // secondary: rgb(148, 117, 71),
    secondary: rgb(0, 0, 0),
    highlight: rgb(98, 78, 49),
    primary: rgb(208, 159, 74),
    background: rgb(233, 233, 227),
    background-grad2: #ffffff,

    background-highlight: rgb(246, 246, 246),
    text: rgb(123, 124, 98),
    // #7B7C62
    menu-btn-bg-hl: rgb(225, 228, 215),
    menu-btn-tx-hl: rgb(208, 159, 74),
    highlight-fx: rgb(200, 94, 80),
  ),
);

@each $theme-name, $theme-properties in $color-schemes {
  [data-theme="#{$theme-name}"] {
    @each $property, $value in $theme-properties {
      --#{$property}: #{$value};
    }
  }
}

$small: 1070px;
$breakpoint-projectPage: 1230px;
$breakpoint2-projectPage: 580px;
$breakpoint-contactPage: 800px;

@mixin MOBILE {
  @media (max-width: $small) {
    @content;
  }
}

@mixin adjustImage-medium {
  @media (max-width: $breakpoint-projectPage) {
    @content;
  }
}

@mixin adjustImage-small {
  @media (max-width: $breakpoint2-projectPage) {
    @content;
  }
}

@mixin adjustContact-small {
  @media (max-width: $breakpoint-contactPage) {
    @content;
  }
}
