@use "homepage";
@use "projectPage";
@use "contactPage";
@use "menubar";
@use "cv";
@use "projects";
@use "toggleButton";
@use "homeChapterNav";
@use "projectCarousel";
@use "loadingHex";
@use "ui-catalog";
@use "variables" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  // padding: 0px 2vw;
}

* {
  margin: 0;
}

:root {
  background-color: var(--background);
  background: linear-gradient(
    290deg,
    var(--background),
    var(--background-grad2)
  );
  width: 100%;
  color: var(--text-color);
  border: none;
  border-color: var(--primary);
  transition: background-color 0.4s;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  padding: 2.5vw 2.5vw 0px 2.5vw;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

li {
  text-decoration: none;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  padding: 0;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.2rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.8rem;
}
